<!------------------------------------||------------------------------------- #
#             registration/templates/registration/activationPage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 09
#
# Description:
#   The web script for activating a new user
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}
    <h2>{% trans "New User Activation" %}</h2>
    
    {% if error_message %}      <!-- displays any error messages -->
        {% trans error_message %}
    {% else %}
        {% blocktrans %}
        <p>The account <i>{{ username }}</i> has been successfully activated.</p>
        <p>You may now log in to enjoy the features of the website.</p>
        {% endblocktrans %}
    {% endif %}    
{% endblock %}