{% comment %}
<!------------------------------------||------------------------------------- #
#           registration\templates\registration\activationEmail.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 09
#
# Description:
#   The html email containing the activation link for a new user account
# ------------------------------------||-------------------------------------->
{% endcomment %}

{% load i18n %}
{% autoescape off %}

{{ first_name }} {{ last_name }},

{% blocktrans %}Use the link below to activate the account <i>{{ username }}</i>.{% endblocktrans %}

<a href="{{ activation_link }}">{{ activation_link }}</a>

{% trans "Hope to see you soon!" %}

{% blocktrans %}The {{ site_name }} Team{% endblocktrans %}

{% endautoescape %}
