<!------------------------------------||------------------------------------- #
#        registration/templates/registration/forgotUsernamePage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 12
#
# Description:
#   The web script for the form for resending activation codes
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}         <!--Replaces the content block on the site template-->
    <h2>{% trans "Recover Username" %}</h2>
    <p>{% trans "Type in your email address below to send the corresponding username to your inbox." %}</p>

    {% if error_message %}      <!--Displays any error messages-->
        <ul>
            <li>{% trans error_message|safe %}</li> <!--The '|safe' filter after the variable indicates the html can be rendered-->
        </ul>
    {% endif %}

    <form action="{% url 'registration:forgotUsernameSubmit' %}" method="post">
        {% csrf_token %}
        <br>
        <table style="border-spacing:5px;">        
            <tr>
                <td>{% trans "Email" %}:</td>
                <td><input type="text" name="email" maxlength="30" value="{{ email }}" required></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right;"><input type="submit" value="{% trans 'Send' %}"></td>
            </tr>
        </table>
    </form>
{% endblock %}
