<!------------------------------------||------------------------------------- #
#        registration/templates/registration/registrationSubmitPage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 07
#
# Description:
#   The web script for the display of the done page for registration
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}         <!-- displays any error messages -->
    {% blocktrans %}
        <h2>New User Registration</h2>
        <p>Registration success!</p>
        <p>An email will be sent to <i>{{ email }}</i> with activation instructions. </p>
        <p>Hope to see you again soon!</p>
    {% endblocktrans %}
{% endblock %}