<!------------------------------------||------------------------------------- #
#             registration/templates/registration/registrationPage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 06
#
# Description:
#   The web script for the display of the entry page for new site users
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}         <!--Replaces the content block on the site template-->
    <h2>{% trans "New User Registration" %}</h2>
    
    {% if error_message %}      <!-- displays any error messages -->
        <ul>
        {% for error in error_message %}
            <li>{% trans error|safe %}</li>     <!--The '|safe' filter after the variable indicates the html can be rendered-->
        {% endfor %}
        </ul>
    {% endif %}
    
    <form action="{% url 'registration:registrationSubmit' %}" method="post">
        {% csrf_token %}
        <br>
        <table style="border-spacing:5px;">
            {% if entered_fields %}     <!--if this page has been loaded before, repopulate fields that do not have security concerns-->          
                <tr>                    <!--entered_fields is a python dictionary accessed like entered_fields.myKey-->
                    <td>{% trans "First Name" %}:</td>
                    <td><input type="text" name="first_name" maxlength="30" value="{{entered_fields.first_name}}" required></td>
                </tr>
                <tr>
                    <td>{% trans "Last Name" %}:</td>
                    <td><input type="text" name="last_name" maxlength="30" value="{{entered_fields.last_name}}" required></td>
                </tr>
                <tr>
                    <td>{% trans "Email" %}:</td>
                    <td><input type="email" name="email" placeholder="johndoe@myemail.com" value="{{entered_fields.email}}" required></td>
                </tr>
                <tr>
                    <td>{% trans "Username" %}:</td>
                    <td><input type="text" name="username" maxlength="30" value="{{entered_fields.username}}" required></td>
                </tr>
            {% else %}        
                <tr>
                    <td>{% trans "First Name" %}:</td>
                    <td><input type="text" name="first_name" maxlength="30" required></td>
                </tr>
                <tr>
                    <td>{% trans "Last Name" %}:</td>
                    <td><input type="text" name="last_name" maxlength="30" required></td>
                </tr>
                <tr>
                    <td>{% trans "Email" %}:</td>
                    <td><input type="email" name="email" placeholder="johndoe@myemail.com" required></td>
                </tr>
                <tr>
                    <td>{% trans "Username" %}:</td>
                    <td><input type="text" name="username" maxlength="30" required></td>
                </tr>
            {% endif %}
            <tr>
                <td>{% trans "Password" %}:</td>
                <td><input type="password" name="password1" title="Password must be 8 characters long." required></td>
            </tr>
            <tr>
                <td>{% trans "Retype Password" %}:</td>
                <td><input type="password" name="password2" title="Please verify password." autocomplete="off" required></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right;"><input type="submit" value="{% trans 'Register' %}"></td>
            </tr>
        </table>
    </form>
{% endblock %}
