<!------------------------------------||------------------------------------- #
#                 home/templates/home/homePage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 August 03
#
# Description:
#   The web script for the display of the home page
# ------------------------------------||-------------------------------------->

{% extends "base.html" %} <!--Uses the site template-->

{% block content %}       <!--Replaces the content block on the site template-->
<h2>Home Page</h2>           

<body>
Welcome to the SDII website!
<br>
TODO:
<ol>
    <li>I don't know?</li>
</ol>
</body>
{% endblock %}