{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'textvisual:textRead'%}" method="post">
{% csrf_token %}
Please enter the text data:
<br>
Input: <input type="textarea" name="value"\>
<br>
<input type="submit" value="Submit"\>
<form\>
