<!------------------------------------||------------------------------------- #
#                    templates\registration\login.html
#
# Adapted From: django\contrib\admin\templates\registration\login.html
#
# Adapted By: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 06
#
# Description:
#   The main log in template for the website. Not the log in template for the
#       Administrator website.
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--loads the main site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}
    <h2>{% trans "Log In" %}</h2>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    
    <p>
        {% trans "Forgot username" %}? <a href="{% url 'registration:forgotUsernamePage' %}">{% trans "Recover it" %}</a>!
        <br>
        {% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!
        <br>
        {% trans "Account not activated" %}? <a href="{% url 'registration:activationResendPage' %}">{% trans "Activate it" %}</a>!
    </p>
{% endblock %}
