<!------------------------------------||------------------------------------- #
#            templates\registration\password_change_done.html
#
# Adapted From: django\contrib\admin\templates\registration\password_change_done.html
#
# Adapted By: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 12
#
# Description:
#   The success page for submitting a change of password. Used for both admin 
#       and general users.
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'Password Change' %}</h2>
    <p>{% trans 'Your password was successfully changed.' %}</p>
{% endblock %}
