<!------------------------------------||------------------------------------- #
#            sdii\templates\registration\password_reset_complete.html
#
# Adapted From: django\contrib\admin\templates\registration\password_reset_complete.html
#
# Adapted By: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 15
#
# Description:
#   The password reset completion page for the website. Used for both admin and 
#       general users.
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'Password Reset' %}</h2>
    <p>{% trans "Your password has been successfully reset." %}</p>
{% endblock %}
