<!------------------------------------||------------------------------------- #
#            sdii\templates\registration\password_reset_done.html
#
# Adapted From: django\contrib\admin\templates\registration\password_reset_done.html
#
# Adapted By: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 15
#
# Description:
#   The password reset done page for the website. Used for both admin and 
#       general users.
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'Password Reset' %}</h1>
    <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
    <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder." %}</p>
{% endblock %}
