<!------------------------------------||------------------------------------- #
#            sdii\templates\registration\password_reset_confirm.html
#
# Adapted From: django\contrib\admin\templates\registration\password_reset_confirm.html
#
# Adapted By: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 15
#
# Description:
#   The password reset confirm page for the website. Used for both admin and 
#       general users.
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if validlink %}
        <h2>{% trans 'Password Reset' %}</h2>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        
        <form action="" method="post">
            {% csrf_token %}
            <table style="border-spacing:5px;">
                <tr>
                    <td colspan="2">{{ form.new_password1.errors }}</td>
                </tr>
                <tr>
                    <td><label for="id_new_password1">{% trans 'New password:' %}</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ form.new_password2.errors }}</td>
                </tr>
                <tr>
                    <td><label for="id_new_password2">{% trans 'Confirm password:' %}</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td><input type="submit" value="{% trans 'Change Password' %}" /></td>
                </tr>
            </table>
        </form>    
    {% else %}    
        <h2>{% trans 'Password Reset' %}</h2>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
