<!------------------------------------||------------------------------------- #
#             journal/templates/journal/journalIndexPage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 August 03
#
# Description:
#   The web script for the display of the list of journals
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}         <!--Replaces the content bloxk on the site template-->
    <h2>{% trans 'List of Journals' %}</h2>
    
    {% trans 'Below are the list of journals assigned. Click' %} <a href="{% url 'journal:journalUserPage' %}">{% trans 'here' %}</a> {% trans ' to view all submitted journal entries.' %}
    <br>
    <br>    
    {% if zipped_var %}
        <table style="border-spacing:5px; text-align:left;">
            
            <tr>
                <th style="padding:5px;">{% trans 'No.' %}</th>
                <th style="padding:5px;">{% trans 'Date Published' %}</th>
                <th style="padding:5px;">{% trans 'Journal' %}</th>
                <th style="padding:5px;">{% trans 'Date Submitted' %}</th>
            </tr>
            {% for number, journal, journal_entry in zipped_var %}
                <tr>
                    <td style="padding:5px;">{{ number }}</td>
                    <td style="padding:5px;">{{ journal.date }}</td>
                    {% if journal_entry %}
                        <td style="padding:5px;">{% trans journal.title %}</td>
                        <td style="padding:5px;">{{ journal_entry.date_submitted }}</td>
                        <td style="padding:5px;">(<a href="{% url 'journal:journalEntryUpdatePage' journal.id %}">{% trans 'Edit' %}</a>)</td>
                    {% else %}
                        <td style="padding:5px;">{% trans journal.title %}</td>
                        <td style="padding:5px;"></td>
                        <td style="padding:5px;">(<a href="{% url 'journal:journalEntryPage' journal.id %}">{% trans 'Create Entry' %}</a>)</td>
                    {% endif %}                   
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans 'No journals are available.' %}</p>
    {% endif %}
{% endblock %}
