<!------------------------------------||------------------------------------- #
#          journal/templates/journal/journalEntryUpdatePage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 15
#
# Description:
#   The web script for updating a journal entry
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}         <!--Replaces the content bloxk on the site template-->
    <h2>{% trans 'Update Journal Entry' %}</h2>
    <p>{% trans 'Look over your past submission for this journal and make any necessary changes below.' %}</p>
    <h3>{% trans 'Previous Submission:' %}</h3>

    <fieldset>
        <legend style="font-weight:bold">{% trans current_entry.journal.title %} - {{ current_entry.date_submitted }}</legend>
        <table style="border-spacing:5px;">
            <tr>
                <td>{% trans 'Instructions:' %}</td>
                <td>{{ current_entry.journal.instructions }}</td>
            </tr>
            <tr>
                <td>{% trans 'Course:' %}</td>
                <td>{{ current_entry.course }}</td>
            </tr>
            <tr>
                <td>{% trans 'Topic:' %}</td>
                <td>{{ current_entry.topic }}</td>
            </tr>
            <tr>
                <td>{% trans 'Type:' %}</td>
                <td>{{ current_entry.journal_type }}</td>
            </tr>
            <tr>
                <td style="vertical-align:text-top;">{% trans 'Entry:' %}</td>
                <td>
                    {% if current_entry.journal_type == 'Journal Entry' %}
                        {{ entry|safe }}
                    {% elif current_entry.journal_type == 'Concept Map' %}                    
                        {{ entry.0|safe }}<br>
                        <img src="{% url 'journal:journalConceptMapImage' current_entry.journal.id %}" alt="Concept Map Image"><br>
                        {{ entry.1|safe }}
                    {% endif %}
                </td>
            </tr>
        </table>
    </fieldset>
    <h3>{% trans 'New Submission:' %}</h3>
    <p>{% trans 'Make edits to this journal entry below. Click update to apply changes. Be certain about any changes you make as the previous entry will be erased.' %}</p>
    <table style="border-spacing:5px;">
        <tr>
            <th colspan="3" style="font-weight:normal;text-align:left;"><i>{% trans 'Concept Map Markups:' %}</i></th>
        </tr>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>***</td>
            <td></td>
            <td>{% trans 'begin/end image code' %}</td>
        </tr>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>A ==> B</td>
            <td></td>
            <td>{% trans 'connect two nodes without a connector label' %}</td>
        </tr>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>A = label => B</td>
            <td></td>
            <td>{% trans 'connect two nodes with a connector label' %}</td>
        </tr>
    </table>
    <p>An example concept map with accompanying code can be found <a href="{% url 'journal:journalExampleConceptMapPage' %}">here</a>.</p>    

    <form action="{% url 'journal:journalSubmitEntryUpdate' current_entry.journal.id %}" method="post">
        {% csrf_token %}                                                    
        <table style="border-spacing:5px;">
            <tr>
                <td>Course:</td>
                <td><input type="text" name="course" value="{{ current_entry.course }}" required></td>
            </tr>
            <tr>
                <td>Topic:</td>
                <td><input type="text" name="topic" value="{{ current_entry.topic }}" required></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>{% if current_entry.journal_type == 'Journal Entry' %}
                        <input type="radio" name="journal_type" value="Journal Entry" checked="checked" required>{% trans 'Journal Entry' %}
                        <input type="radio" name="journal_type" value="Concept Map" required>{% trans 'Concept Map' %}
                    {% else %}
                        <input type="radio" name="journal_type" value="Journal Entry" required>{% trans 'Journal Entry' %}
                        <input type="radio" name="journal_type" value="Concept Map" checked="checked" required>{% trans 'Concept Map' %}
                    {% endif %}</td>
            </tr>
            <tr>
                <td style="vertical-align:text-top;">{% trans 'Entry:' %}</td>
                <td><textarea name="entry" rows="25" cols="75" required>{{ current_entry.entry }}</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right;"><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
{% endblock %}
