<!------------------------------------||------------------------------------- #
#         journal/templates/journal/journalExampleConceptMapPage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 22
#
# Description:
#   The web script for the example concept map page
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->
{% load staticfiles %}      <!--loads static files-->

{% block content %}         <!--Replaces the content block on the site template-->
<h3>{% trans 'Concept Map Explanation' %}</h3>

<p>A concept map is a visual representation of how different ideas are connected with the display showing a flow chart like graph. The following 
    markups are used to indicate and generate the map image:</p>

<table style="border-spacing:5px;">
    <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td>***</td>
        <td></td>
        <td>{% trans 'begin/end image code' %}</td>
    </tr>
    <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td>A ==> B</td>
        <td></td>
        <td>{% trans 'connect two nodes without a connector label' %}</td>
    </tr>
    <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td>A = label => B</td>
        <td></td>
        <td>{% trans 'connect two nodes with a connector label' %}</td>
    </tr>
</table>

<p>{% blocktrans %}Only one connection is permitted per line or the image will display incorrectly. The text parser uses end-of-line to indicate the 
    end of a connection command. The order of connections is unimportant, however, the name of each 'node' is important. Be consistent in your naming throughout
    the markups for each node. For instance, 'Node A' is not treated the same as 'NodeA' - they are interpreted as different entities.{% endblocktrans %}</p>

<h3>{% trans 'Concept Map Example' %}</h3>
<p>{% blocktrans %}To demonstrate the use of the markups and how they incorporate into the concept map journal entries, let's take the
    journal entry below:{% endblocktrans %}</p>

<fieldset style="border-style:dashed;border-color:black;">
    {% trans 'This is my concept map...' %}<br>
    ***<br>
    Node A ==> Node B<br>
    Node B = B to C Label => Node C<br>
    Node C ==> Node D<br>
    Node D = A to D Label => Node A<br>
    Node D ==> Node F<br>
    Node F ==> Node A<br>
    Node B = B to F Label => Node F<br>
    ***<br>
    {% trans '... and it looks great' %}.
</fieldset>

<p>{% trans 'All the text before' %} <i>***</i> {% trans 'will appear before the concept map image; whereas all the text after' %} <i>***</i> {% blocktrans %}will appear after the image.  
    The {% endblocktrans %} <i>Node A ==> Node B</i> {% blocktrans %}markup creates an arrow from 'Node A' to 'Node B'. If one were to place text between the equal signs, like so:{% endblocktrans %} <i>Node B = B to C Label => Node C</i>
    {% trans '; the text will become a label that appears on the connector label.' %}</p>

<fieldset style="border-style:dashed;border-color:black;">
    {% trans 'This is my concept map...' %}<br>
    <img src="{% static 'journal/images/example-concept-map.png' %}" alt="Example Concept Map"><br>
    {% trans '... and it looks great' %}.
</fieldset>

<p>That's it! Pretty simple to create a visual display of ideas and how they are connected, eh?</p>
{% endblock %}