<!------------------------------------||------------------------------------- #
#                    templates\registration\logged_out.html
#
# Adapted From: django\contrib\admin\templates\registration\logged_out.html
#
# Adapted By: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 06
#
# Description:
#   The main log out template for the website. Used for both admin and general
#       users.
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--loads the main site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}
    <h2>{% trans "Logged Out" %}</h2>
    <p>{% trans "Successfully logged out. Thanks for spending some quality time with EFFECTs today." %}</p>
{% endblock %}
