<!------------------------------------||------------------------------------- #
#              sdii\templates\registration\password_reset_form.html
#
# Adapted From: django\contrib\admin\templates\registration\password_reset_form.html
#
# Adapted By: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 12
#
# Description:
#   The main password reset form for the website. Used for both admin and 
#       general users.
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>{% trans "Password Reset" %}</h2>
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    
    <form action="" method="post">
        {% csrf_token %}
        {{ form.email.errors }}
        <p><label for="id_email">{% trans 'Email:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset Password' %}" /></p>
    </form>
{% endblock %}
