<!------------------------------------||------------------------------------- #
#              templates\registration\password_change_form.html
#
# Adapted From: django\contrib\admin\templates\registration\password_change_form.html
#
# Adapted By: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 12
#
# Description:
#   The main password change form for the website. Used for both admin and 
#       general users.
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <form action="" method="post">
        {% csrf_token %}
        
        <h2>{% trans 'Password Change' %}</h2>
                
        <p>{% trans "Please enter your old password and then enter your new password twice to verify correct entry." %}</p>
        
        <table style="border-spacing:5px;">
            <tr>
                <td colspan="2">{{ form.old_password.errors }}</td>
            </tr>
            <tr>
                <td><label for="id_old_password" class="required">{% trans 'Old password' %}:</label></td>
                <td>{{ form.old_password }}</td>
            </tr>
            <tr>  
                <td colspan="2">{{ form.new_password1.errors }}</td>
            </tr>
            <tr>
                <td><label for="id_new_password1" class="required">{% trans 'New password' %}:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ form.new_password2.errors }}</td>
            </tr>
            <tr>
                <td><label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:left;"><input type="submit" value="{% trans 'Change Password' %}" class="default" /></td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
