<!------------------------------------||------------------------------------- #
#             journal/templates/journal/journalEntryPage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 August 03
#
# Description:
#   The web script for the display of the all of a user's journals
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}         <!--Replaces the content bloxk on the site template-->
    <h2>{% trans 'Journals Submitted' %}</h2>
    {% trans 'Author:' %} {{ author.first_name }} {{ author.last_name }}
    <br>
    <br>
    {% for journal, entry in zvar %}
    <fieldset>
        <legend style="font-weight:bold"> {% trans journal.journal.title %} - {{ journal.date_submitted }} (<a href="{% url 'journal:journalEntryUpdatePage' journal.journal.id %}">{% trans 'Edit' %}</a>)</legend>
        <table style="border-spacing:5px;">
            <tr>
                <td>{% trans 'Instructions:' %}</td>
                <td>{{ journal.journal.instructions }}</td>
            </tr>
            <tr>
                <td>{% trans 'Course:' %}</td>
                <td>{{ journal.course }}</td>
            </tr>
            <tr>
                <td>{% trans 'Topic:' %}</td>
                <td>{{ journal.topic }}</td>
            </tr>
            <tr>
                <td>{% trans 'Type:' %}</td>
                <td>{{ journal.journal_type }}</td>
            </tr>
            <tr>
                <td style="vertical-align:text-top;">{% trans 'Entry:' %}</td>
                <td>
                    {% if journal.journal_type == 'Journal Entry' %}
                        {{ entry|safe }}
                    {% elif journal.journal_type == 'Concept Map' %}
                        {{ entry.0|safe }}<br>                                                                                                                   <!--the .0 indicates the 0th indices of the list-->
                        <img src="{% url 'journal:journalConceptMapImage' journal.id %}" alt="Concept Map for Journal #{{journal.journal.id}}"><br>      <!--This url calls a view which renders the graphviz image-->
                        {{ entry.1|safe }}
                    {% endif %}
                </td>
            </tr>
        </table>
    </fieldset>
    <br>
    {% endfor %}
{% endblock %}