<!------------------------------------||------------------------------------- #
#             journal/templates/journal/journalEntryPage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 August 03
#
# Description:
#   The web script for the display of the entry page of the journals
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}         <!--Replaces the content block on the site template-->
    <h2>{% trans selectedJournal.title %}</h2>                                      
    
    <h3>Instructions</h3>                                                           {% comment "The {{}} loads Django variables passed from the view" %}{% endcomment %}
    <p>{% trans selectedJournal.instructions %}</p>                                 {% comment "The {% trans  %} translates the string to the browser language" %}{% endcomment %}
    <table style="border-spacing:5px;">
        <tr>
            <th colspan="4" style="font-weight:normal;text-align:left;"><i>{% trans 'Concept Map Markups:' %}</i></th>
        </tr>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>***</td>
            <td></td>
            <td>{% trans 'begin/end image code' %}</td>
        </tr>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>A ==> B</td>
            <td></td>
            <td>{% trans 'connect two nodes without a connector label (note: two equal signs before the >)' %}</td>
        </tr>
        <tr>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>A = {% trans 'label' %} => B</td>
            <td></td>
            <td>{% trans 'connect two nodes with a connector label' %}</td>
        </tr>
    </table>
    <p>An example concept map with accompanying code can be found <a href="{% url 'journal:journalExampleConceptMapPage' %}">here</a>.</p>         
                                                                           
    <h3>Entry</h3>
    <form action="{% url 'journal:journalSubmitEntry' selectedJournal.id %}" method="post">     {% comment "the variable after the '' is used to fill in the url" %}{% endcomment %}
        {% csrf_token %}                                                                        {% comment "The {% csrf_token %} provided by Django should be with all forms for cross site request forgeries protection" %}{% endcomment %}                                                     
        <table style="border-spacing:5px;">
            <tr>
                <td>{% trans 'Course:' %}</td>
                <td><input type="text" name="course" required></td>
            </tr>
            <tr>
                <td>{% trans 'Topic:' %}</td>
                <td><input type="text" name="topic" required></td>
            </tr>
            <tr>
                <td>{% trans 'Type:' %}</td>
                <td><input type="radio" name="journal_type" value="Journal Entry" required>{% trans 'Journal Entry' %}
                    <input type="radio" name="journal_type" value="Concept Map" required>{% trans 'Concept Map' %}</td>
            </tr>
            <tr>
                <td style="vertical-align:text-top;">{% trans 'Entry:' %}</td>
                <td><textarea name="entry" rows="25" cols="75" required></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right;"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
{% endblock %}

