/*------------------------------------||------------------------------------- */
/*                          \static\style.css                                 */
/*                                                                            */
/* Author:                                                                   */
/*   Benjamin T. Davis                                                        */
/*   NSF Graduate Research Fellow                                             */
/*   Structural Dynamics and Intelligent Infrastructure Research Group (SDII) */
/*   University of South Carolina                                             */
/*   http://sdii.ce.sc.edu/                                                   */
/*                                                                            */
/* Date Created: 2014 August 03                                               */
/*                                                                            */
/* Description:                                                               */
/*   The css stylings for the entire website. See specific apps for their     */
/*      specialize styling.                                                   */
/* ------------------------------------||-------------------------------------*/


/* Web Page Layout */
#wrap {
    width:1000px;
    margin:0 auto;
    background:#F8F8F8;
}

#banner { 
    padding:5px 10px;
    background:#F8F8F8;
}

#userbar {
    padding:5px 10px;
    background:#ddd;
}

#navbar {
    float:left;
    width:130px;
    padding:5px 10px;
    background:#F8F8F8;
}
        
#content { 
    float:right;
    width:830px;
    padding:5px 10px;
    background:white;
}
        
#footer { 
    clear:both;
    padding:5px 10px;
    background:#F8F8F8;
}


/* HTML Headings */
h1 {
    color:black;
}

h2 {
    color:black;
}

h3 {
    color:black;  /* this is USC garnet color: #9E1B34 */
}

/* HTML Links */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}