<h1>{{ voter.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'voters:vvote' voter.id %}" method="post">
{% csrf_token %}
{% for choice in voter.vchoice_set.all %}
    <input type="radio" name="vchoice" id="vchoice{{ forloop.counter }}" value="{{ vchoice.id }}" />
    <label for="vchoice{{ forloop.counter }}">{{ vchoice.vchoice_text }}</label><br />
{% endfor %}
<br>
<input type="submit" value="Vote" />
</form>
