{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'voters/style.css' %}" />

{% if latest_voter_list %}
    <ul>
    {% for voter in latest_voter_list %}
        <li><a href="{% url 'voters:vdetail' poll.id %}">{{ voter.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No voters are available.</p>
{% endif %}

