<h1>{{ voter.question }}</h1>

<ul>
{% for vchoice in voter.vchoice_set.all %}
    <li>{{ vchoice.vchoice_text }} -- {{ vchoice.vvotes }} vote{{ vchoice.vvotes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'voters:vdetail' voter.id %}">Vote again?</a>
