<!------------------------------------||------------------------------------- #
#                           templates\404.html
#
# Created By: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 October 20
#
# Description:
#   The page 404 code error for the website
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--loads the main site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}
    <h2>HTTP 404: Page not found</h2>
    
    <p>Sorry, but the requested page could not be found.</p>
{% endblock %}

