<!------------------------------------||------------------------------------- #
#                           templates\base.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 06
#
# Description:
#   The master template for the site layout. All apps build on this.
# ------------------------------------||-------------------------------------->

{% load i18n %}         <!--loads Django translation tags-->
{% load staticfiles %}  <!--loads Django static files-->

<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />    

<div id="wrap">  
    <div id="banner">
        <h1 style="text-align:center">Environments for Fostering Effective Critical Thinking</h1>
        <hr />
    </div>
    <div id="userbar">
        <div style="text-align:right">
            {% if user.is_authenticated %}
                {% trans "Welcome," %} {{ user.first_name }} {{ user.last_name }}
                {% if user.is_staff %}
                    (<a href="{% url 'logout' %}">{% trans "Log out" %}</a> | <a href="{% url 'password_change' %}">{% trans "Change password" %}</a> | <a href="{% url 'admin:index' %}" target="_blank">{% trans "Site Admin" %}</a>)
                {% else %}
                    (<a href="{% url 'logout' %}">{% trans "Log out" %}</a> | <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>)
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">{% trans "Log in" %}</a> | <a href="{% url 'registration:registrationPage' %}">{% trans "Register" %}</a>
            {% endif %}
        </div>
    </div> 
    <div id="navbar">
        {% block nav-global %}
            Navigation
            <hr />
            <a href="{% url 'home' %}">{% trans "Home" %}</a><br>
            <a href="{% url 'journal:journalIndexPage' %}">{% trans "Journals" %}</a><br>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}content{% endblock %}
    </div>   
    <div id="footer">
        <hr />
        {% block footer %}<div style="text-align:center;">University of South Carolina - Columbia</div>{% endblock %}
    </div>
</div>
</html>
