{% comment %}
<!------------------------------------||------------------------------------- #
#      registration\templates\registration\forgotUsernameEmail.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 12
#
# Description:
#   The html email containing the forgotten username
# ------------------------------------||-------------------------------------->
{% endcomment %}

{% load i18n %}
{% autoescape off %}

{{ first_name }} {{ last_name }},<br /><br />

{% blocktrans %}Your user name is <i>{{ username }}</i>.{% endblocktrans %}<br /><br />

{% trans "Hope to see you soon!" %}<br /><br />

{% blocktrans %}The {{ site_name }} Team{% endblocktrans %}

{% endautoescape %}

