<!------------------------------------||------------------------------------- #
#    registration/templates/registration/forgotUsernameSubmitPage.html
#
# Authors: 
#   Benjamin T. Davis
#   NSF Graduate Research Fellow
#   Structural Dynamics and Intelligent Infrastructure Research Group (SDII)
#   University of South Carolina
#   http://sdii.ce.sc.edu/
#
# Date Created: 2014 September 12
#
# Description:
#   The web script for the display of the done page for recovering usernames
# ------------------------------------||-------------------------------------->

{% extends "base.html" %}   <!--Uses the site template-->
{% load i18n %}             <!--loads Django translation tags-->

{% block content %}         <!-- displays any error messages -->
    {% blocktrans %}        <!-- translates everything between the blocktrans tags -->
        <h2>Recover Username</h2>
        <p>An email was sent to <i>{{ email }}</i> with the username. </p>
        <p>Hope to see you again soon!</p>
    {% endblocktrans %}
{% endblock %}

